<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://merciapp-e8cgheehc2bggzdv.japaneast-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>83cb7f2f-e087-49f6-8ec0-e43466ac9385</ProjectGuid>
    <PublishUrl>https://merciapp-e8cgheehc2bggzdv.scm.japaneast-01.azurewebsites.net/</PublishUrl>
    <UserName>$merciapp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>